* {
	margin: 0px;
	padding: 0px;
}

body {
	min-width: 360px;
	background-image: url("../resource/wood_pattern.png");
}

header a {
	text-decoration: none;
	color: black;
}

h1, h2, h3, h4, h5, h6, p {
	padding: 5px;
	margin: 0px 5px 0px 5px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: Symbola, sans-serif;
}

h1 {
	font-size: 2.5em;
}

h2 {
	font-size: 2em;
}

h3 {
	font-size: 1.75em;
}

h4 {
	font-size: 1.5em;
}

h5 {
	font-size: 1.5em;
}

h6 {
	font-size: 1.25em;
}

p {
	font-family: "times", sans-serif;
	font-size: 1.15em;
}

figure {
	float: right;
}

figcaption {
	font-size: small;
	text-align: right;
}

.col-1 {
	width: 8.33%;
}

.col-2 {
	width: 16.66%;
}

.col-3 {
	width: 25%;
}

.col-4 {
	width: 33.33%;
}

.col-5 {
	width: 41.66%;
}

.col-6 {
	width: 50%;
}

.col-7 {
	width: 58.33%;
}

.col-8 {
	width: 66.66%;
}

.col-9 {
	width: 75%;
}

.col-10 {
	width: 83.33%;
}

.col-11 {
	width: 91.66%;
}

.col-12 {
	width: 100%;
}

[class*="col-"] {
	float: left;
}

.row::after {
	clear: both;
	display: table;
}

.site-header {
	position: relative;
}

.site-header img {
	max-width: 100%;
	height: auto;
}

.site-header h1 {
	position: absolute;
	top: 30%;
	text-shadow: 0px 0px 2px white;
}

main {
	background-color: white;
}

.content {
	max-width: 850px;
	margin: auto;
}

nav {
	background-color: #6ccfff;
}

.menu {
	list-style: none;
}

.menu > li {
	display: inline-block;
}

.menu a {
	font-family: "DejaVu Sans", sans-serif;
	font-size: 1.2em;
	color: black;
	text-decoration: none;
	display: block;
	padding: 20px 30px;
}

li.dropdown {
	display: inline-block;
}

.dropdown:hover .drop-content {
	display: block;
}

.drop-content {
	display: none;
	position: absolute;
	box-shadow: 2px 5px 3px 0px #999;
	background-color: #6ccfff;
}

.drop-content a {
	font-family: "DejaVu Sans", sans-serif;
	font-size: 1em;
	display: block;
	padding: 10px 15px 10px 5px;
}

.menu li:hover {
	background-color: #6cbcff;
}

.drop-content a:hover {
	background-color: #6cacff;
}