.side-content {
	background-color: #6cbcff;
}

.small-food-img img {
	width: 100%;
	height: auto;
}

.large-food-img {
	float: none;
	margin: auto;
	width: 90%;
	height: 100px;
}

.large-food-img img {
	width: 100%;
	height: 100%;
}

.recipe {
	background-color: white;
}

.ingredients ul {
	list-style: none;
}

.ingredients ul li:before {
	content: "-";
	padding: 0px 5px 0px 0px;
}

.ingredients li {
	margin-left: 2px;
	border-bottom: 1px solid #ccc;
	width: 100%;
}

.intructions li {
	margin-left: 30px;
}

#multiplier {
	width: 50px;
}

ul.star-list {
	list-style: none;
	display: inline-block;
}

ul.star-list li {
	display: inline;
}

a.star {
	display: inline;
	color: gold;
	text-decoration: none;
	font-size: 1.5em;
	text-shadow: 1px 1px 0px black;
	padding: 0px 2px;
}

#votes {
	font-size: x-small;
	text-align: center;
}